[submodule "Backend"]
	path = Backend
	url = https://github.com/FranBag/Backend.git
[submodule "Frontend"]
	path = FRONTEND
	url = https://github.com/Santy890/FRONTEND.git
[submodule "FRONTEND"]
	path = FRONTEND
	url = https://github.com/Santy890/FRONTEND.git
